body {
background:#020617;
color:white;
font-family:Arial;
text-align:center;
}

a {display:block;margin:10px;color:cyan;}

.card {
background:#1e293b;
margin:10px;
padding:15px;
border-radius:10px;
}

textarea {width:80%;height:120px;}

iframe {
width:80%;
height:150px;
background:white;
margin-top:10px;
}

.bar {
width:80%;
height:20px;
background:#1e293b;
margin:auto;
border-radius:10px;
overflow:hidden;
}

#progress {
height:100%;
width:0%;
background:lime;
}
